* {
  margin: 0% auto; }

h4 {
  width: 158px;
  height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: #333333; }

h5 {
  width: 339px;
  height: 23px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.92;
  text-align: left;
  color: #333333; }

li {
  list-style-type: none;
  display: inline-block; }

header {
  padding: 19px 0;
  background-color: #2d2827;
  color: #999999;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase; }
  header ul {
    font-size: 12px;
    font-weight: 300;
    text-align: center; }
  header #caption {
    font-size: 12px;
    letter-spacing: 2.4px; }
  header #socials {
    font-size: 15px;
    text-align: center; }

nav {
  padding-top: 2em; }
  nav .nav-styles {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    text-align: center; }
  nav #logo-size {
    height: 3em; }
  nav a {
    padding: 0 1em;
    color: #ffffff;
    text-decoration: none; }

#underline {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-bottom: 4em; }

#hero-bg {
  height: 92vh;
  background-color: #666666; }

#main-title {
  padding-top: 2em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 50px;
  line-height: 0.96; }

#sub-title {
  padding-top: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  width: 924px;
  height: 39px;
  line-height: 1.67;
  color: #e6e6e6; }

#button {
  text-decoration: none; }
  #button p {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 6em;
    width: 150px;
    padding: 10px 0;
    background-color: #a88d7b;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border-radius: 20px; }

#featured-section {
  background-color: #f5f5f5;
  height: 704px; }

.section-titles {
  padding-top: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  text-transform: uppercase; }

#collection-section {
  height: 705px;
  background-color: #ffffff; }

#second-hero-bg {
  background-color: black;
  height: 552px; }

#second-hero-content-wrapper {
  width: 656px;
  padding-right: 27em;
  padding-top: 6em; }

#main-title-2 {
  padding-top: 2em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
  line-height: 0.5; }

#sub-title-2 {
  padding-top: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  width: 656px;
  height: 38px;
  line-height: 1.6;
  color: #e6e6e6; }

#button-2 {
  text-decoration: none; }
  #button-2 p {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 6em;
    width: 150px;
    padding: 10px 0;
    background-color: #a88d7b;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center; }

#blog-section {
  height: 671px; }
  #blog-section #blog-img {
    width: 585px;
    height: 405px;
    background-color: grey; }
  #blog-section #blog-content-wrapper {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: left; }
    #blog-section #blog-content-wrapper #blog-content-subtitle {
      line-height: 3.2;
      color: #999999; }
    #blog-section #blog-content-wrapper #blog-content {
      line-height: 1.67;
      color: #666666; }
    #blog-section #blog-content-wrapper a {
      text-decoration: none;
      width: 85px;
      height: 10px;
      line-height: 3.2;
      letter-spacing: 1.5px;
      color: #a88d7b;
      text-transform: uppercase; }

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "lang cap socials"; }
  header ul {
    grid-area: lang; }
  header #caption {
    grid-area: cap; }
  header #social-media {
    grid-area: socials; }

nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "search nav-links cart"; }
  nav #search-bar {
    grid-area: search; }
  nav #navbar {
    grid-area: nav-links;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-link logo-home right-link"; }
    nav #navbar #links-left {
      grid-area: left-link;
      align-self: center; }
    nav #navbar #logo-home {
      grid-area: logo-home;
      align-self: center; }
    nav #navbar #links-right {
      grid-area: right-link;
      align-self: center; }
  nav #cart {
    grid-area: cart; }

#product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 2em;
  grid-template-areas: ". first second third ." ". pro1 pro2 pro3 ." ". price1 price2 price3 ."; }

#product1 {
  grid-area: first;
  width: 370px;
  height: 360px;
  background-color: #666666; }

#product2 {
  grid-area: second;
  width: 370px;
  height: 360px;
  background-color: #666666; }

#product3 {
  grid-area: third;
  width: 370px;
  height: 360px;
  background-color: #666666; }

#pro-name-1 {
  grid-area: pro1; }

#pro-name-2 {
  grid-area: pro2; }

#pro-name-3 {
  grid-area: pro3; }

#price-1 {
  grid-area: price1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

#price-2 {
  grid-area: price2;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

#price-3 {
  grid-area: price3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

#collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2em;
  grid-template-areas: ". men female ." ". men-n female-n ."; }
  #collection-grid #men {
    grid-area: men;
    background-color: #666666;
    width: 570px;
    height: 373px; }
  #collection-grid #female {
    grid-area: female;
    background-color: #666666;
    width: 570px;
    height: 373px; }
  #collection-grid #first-cat {
    grid-area: men-n;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
    text-transform: uppercase; }
  #collection-grid #second-cat {
    grid-area: female-n;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
    text-transform: uppercase; }

#blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  grid-template-areas: ". blog-img blog-content ."; }
  #blog-grid #blog-img {
    grid-area: blog-img; }
  #blog-grid #blog-content-wrapper {
    grid-area: blog-content; }

/*# sourceMappingURL=main.css.map */
