// page styles starts //
* {
    margin: 0% auto;
}
// page styles ends //


// heading tags styles starts //

h4 {
    width: 158px;
    height: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.4;
    text-align: center;
    color: $black-three;
}
h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.92;
    text-align: left;
    color: $black-three;
}
// heading tags styles ends //


// list styles starts //
li {
    list-style-type: none; 
    display: inline-block;
}
// list styles ends //



// header styles starts //
header {
    padding: 19px 0;
    background-color: #2d2827;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    
    ul {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }
    #caption {
        font-size: 12px;
        letter-spacing: 2.4px;
    }
    #socials {
        // font-family: FontAwesome;
        font-size: 15px;
        text-align: center;
    }
}
// header styles ends //


// main section styles starts //

// nav bar styles starts //
nav {
    padding-top: 2em;
    
    .nav-styles {
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
        letter-spacing: 0.8px;
        text-transform: uppercase; 
        color: #ffffff;
        text-decoration: none;
        
        text-align: center;
    }
    #logo-size {
        height: 3em;
    }
    a {
        padding: 0 1em;
        color: #ffffff;
        text-decoration: none;
    }
}
// nav bar styles ends //

// main section styles ends //


// footer section styles starts //
    footer {
        height: 340px;
        background-color: $black;
        font-family: 'Source Sans Pro', sans-serif;

        p {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.33;
            text-transform: uppercase;
            color: $white-four;
            padding: 2em 0;
        }
        li {
            padding: 0.5em 0;
            color: $warm-grey;
            font-size: 15px;
            line-height: 1.6;
            list-style-type: none;
            display: block;
        }
    }
// footer section styles ends //
