// page styles starts //
* {
    margin: 0% auto;
}
// page styles ends //


// heading tags styles starts //

// heading tags styles ends //


// list styles starts //
li {
    list-style-type: none; 
    display: inline-block;
}
// list styles ends //



// header styles starts //
header {
    padding: 19px 0;
    background-color: #2d2827;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    
    ul {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }
    #caption {
        font-size: 12px;
        letter-spacing: 2.4px;
    }
    #socials {
        // font-family: FontAwesome;
        font-size: 15px;
        text-align: center;
    }
}
// header styles ends //


// main section styles starts //

// nav bar styles starts //
nav {

    li {
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
        letter-spacing: 0.8px;
        padding: 0 1em;
        text-transform: uppercase; 
    }
    a {
        color: #ffffff;
        text-decoration: none;
    }
}
// nav bar styles ends //

// main section styles ends //