// scroll down button  //

.scroll-down-dude {
    margin-left: 41.5em;
    margin-top: 4em;
}

.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: $strokeWidth solid $strokeColor;
	border-right: $strokeWidth solid $strokeColor;
}

.scroll-down-dude:before {
	animation: down-arrow-before $timing $easing infinite;
}

.scroll-down-dude:after {
	animation: down-arrow-after $timing $easing infinite;
}

@keyframes down-arrow-before {
	50% {
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-after {
	50% {
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}

// scroll down button  //


// add to cart icon styles //

.add-to-cart-btn {
    margin: 0;
    background-color: $mushroom;
    width: 180px;

    p {
        @include add-to-cart-btn-text; 
        cursor: pointer;
    }
}
// add to cart icon styles //


// add to cart styles for pop up //

.removeItem {
    margin-left: 40px;
  }
  i:hover {
    cursor: pointer;
  }
  
  #shoppingCart {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
  }
  
  #cartItems {
    position: relative;
    width: 600px;
    left: 50%;
    top: 150px;
    margin-left: -300px;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: #e9e9e9;
    overflow: auto;
  }
 
  
  #itemCount {
    position: absolute;
   
    border-radius: 100%;
    display: none;
    width: 18px;
    height: 18px;
    background-color: $mushroom;
    top: 5.5em;
    right: 20.8em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    text-align: center;
    color: $white-five;
  }
  // add to cart styles for pop up //