// header grid layout //
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "lang cap socials";
    
    ul {
        grid-area: lang;
    }
    #caption {
        grid-area: cap;
    }
    #social-media {
        grid-area: socials;
    }
}

// header grid layout //


//navbar grid layout //
nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "search nav-links cart";
    
    #search-bar {
        grid-area: search;
    }
    #navbar {
        grid-area: nav-links;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "left-link logo-home right-link";

        #links-left {
            grid-area: left-link;
            align-self: center;
        }
        #logo-home {
            grid-area: logo-home;
            align-self: center;  
        }
        #links-right {
            grid-area:  right-link;
            align-self: center;
        }
    }
    #cart {
        grid-area: cart;
    }
}

//navbar grid layout //

// featured section grid layout //
#product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    grid-template-areas: 
    ". first second third .";
}
#product1 {
    grid-area: first;
    @include product-img-styles;
}
#product2 {
    grid-area: second;
    @include product-img-styles;   
}
#product3 {
    grid-area: third;
    @include product-img-styles;  
}
// featured section grid layout //