// header grid layout //
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "lang cap socials";
    
    ul {
        grid-area: lang;
    }
    #caption {
        grid-area: cap;
    }
    #social-media {
        grid-area: socials;
    }
}

// header grid layout //


//navbar grid layout //
nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "search nav-links cart";
    
    #search-bar {
        grid-area: search;
    }
    #navbar {
        grid-area: nav-links;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "left-link logo-home right-link";

        #links-left {
            grid-area: left-link;
            align-self: center;
        }
        #logo-home {
            grid-area: logo-home;
            align-self: center;  
        }
        #links-right {
            grid-area:  right-link;
            align-self: center;
        }
    }
    #cart {
        grid-area: cart;
    }
}

//navbar grid layout //

// featured section grid layout //
#product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2em;
    grid-template-areas: 
    ". first second third ."
    ". pro1 pro2 pro3 ."
    ". price1 price2 price3 .";
}
#product1 {
    grid-area: first;
    @include product-img-styles;
}
#product2 {
    grid-area: second;
    @include product-img-styles;   
}
#product3 {
    grid-area: third;
    @include product-img-styles;  
}
#pro-name-1 {
    grid-area:pro1;
}
#pro-name-2 {
    grid-area: pro2;
}
#pro-name-3 {
    grid-area: pro3;
}
#price-1 {
    grid-area: price1;
    @include price;
}
#price-2 {
    grid-area: price2;
    @include price;
}
#price-3 {
    grid-area: price3;
    @include price;
}

// featured section grid layout //


// collection grid layout //
#collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 2em;
    grid-template-areas: 
    ". second third ."
    ". pro2 pro3 .";
    
}
// collection grid layout //