// shared hero styles //

@mixin title {
    padding-top: 2em;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: $white-five;
}
@mixin sub-title {
    padding-top: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
}
@mixin button {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 6em;
    width: 150px;
    padding: 10px 0;
    background-color: #a88d7b;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
// shared hero styles //


// shared content paragraphs //

@mixin paragraph-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 1.67;
    color: $brownish-grey;
}

// shared content paragraphs //


// section titles stlyes //

@mixin section-title {
    padding-top: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}
// section titles stlyes //

// featured products mixins //

@mixin product-img-styles {
    width: 370px;
    height: 360px;
    background-color: #666666;
}
@mixin sub-text-style {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 3.2;
    text-align: center;
    color: $warm-grey;
}
// featured products mixins //

// featured collection mixins //
@mixin collection-img {
    background-color: #666666;
    width: 570px;
    height: 373px;
}
@mixin collection-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b;
    text-transform: uppercase;
}
// featured collection mixins //


// ----------------- about page mixins --------------- //
@mixin about-page-imgs {
    width: 600px;
    height: 490px;
    background-color: $brownish-grey;
}
// ----------------- about page mixins --------------- //

//---------------------------------------------- SHOP PAGE MIXINS ----------------------------------//


//---------------------------------------------- SHOP PAGE MIXINS ----------------------------------// 