// basic styles //
#underline {
    margin-top: 0.5em;
    width: 70px;
    height: 2px;
    background-color: #a88d7b;
}
// basic styles ends //

// header styles starts //

// header styles ends //

// hero styles starts //
#hero-bg {
    height: 945px;
    background-color: #666666;

    #center-name {
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        letter-spacing: 1.5px;
        font-weight: 600;
        color: #fffefe;
    }
}
// hero styles ends //