// basic styles //
#underline {
    width: 50px;
    height: 2px;
    background-color: #a88d7b;
    margin-bottom: 4em;
}
// basic styles ends //

// header styles starts //

// header styles ends //

// hero styles starts //
#hero-bg {
    height: 92vh;
    background-color: #666666;
}
#main-title {
    @include title;
    font-size: 50px;
    line-height: 0.96;
}
#sub-title {
    @include sub-title;
    width: 924px;
    height: 39px;
    line-height: 1.67;
    color: #e6e6e6;
}
#button {
        text-decoration: none;
    p {
       @include button;
        border-radius: 20px;
    }
}
// hero styles ends //


// featured section starts //

#featured-section {
    background-color: $offset-white;
    height: 704px;
}
.section-titles {
    @include section-title;
}

// featured section ends //


// collection section starts //

#collection-section {
    height: 705px;
    background-color: $white-five;
}
// collection section ends //

// second hero section styles starts //

#second-hero-bg {
    // create a linear gradient of rgba(0, 0, 0, 0.6) ontop of image //
    background-color: rgb(0, 0, 0);
    height: 552px;
}
#second-hero-content-wrapper {
    width: 656px;
    padding-right: 27 em;
    padding-top: 8em;
}
#main-title-2 {
    @include title;
    font-size: 48px;
    line-height: 0.5;
}
#sub-title-2 {
    @include sub-title;
    width: 656px;
    height: 38px;
    line-height: 1.6;
    color: #e6e6e6;
}
#button-2 {
    text-decoration: none;
    p {
        @include button;
    }
}
// second hero section styles ends //