// basic styles //

#underline {
    width: 50px;
    height: 2px;
    background-color: #a88d7b;
    margin-bottom: 4em;
}
#alt-header {
    background-color: $white-three;
}

// basic styles ends //

// alt icons styles //
.alt-color {
    color: $warm-grey;
}
// alt icons styles //

// basic img container fitting //
.img-size-cover {
    position: relative;
    width: 100%;
    height: 100%;
}
// basic img container fitting //


// home page nav styles starts//
     
#home-nav {
    padding-top: 2em;
}

// home page nave styles ends //

// hero styles starts //
#hero-bg {
    height: 92vh;
    // background-color: #666666;
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/living-room-furniture.jpg");
    background-position: center;
    background-size: cover;
}
#main-title {
    @include title;
    font-size: 50px;
    line-height: 0.96;
}
#sub-title {
    @include sub-title;
    width: 924px;
    height: 39px;
    line-height: 1.67;
    color: #e6e6e6;
}
#button {
        text-decoration: none;
    p {
       @include button;
        border-radius: 20px;
    }
}
// hero styles ends //


// featured section starts //

#featured-section {
    background-color: $offset-white;
    height: 704px;
}
.section-titles {
    @include section-title;
}

// featured section ends //


// collection section starts //

#collection-section {
    height: 705px;
    background-color: $white-five;
}
// collection section ends //

// second hero section styles starts //

#second-hero-bg {
    // create a linear gradient of rgba(0, 0, 0, 0.6) ontop of image //
    // background-color: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url("../images/glass-table.jpg");
    height: 552px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#second-hero-content-wrapper {
    width: 656px;
    padding-right: 27em;
    padding-top: 6em;
}
#main-title-2 {
    @include title;
    font-size: 48px;
    line-height: 0.5;
}
#sub-title-2 {
    @include sub-title;
    width: 656px;
    height: 38px;
    line-height: 1.6;
    color: #e6e6e6;
}
#button-2 {
    text-decoration: none;
    p {
        @include button;
    }
}
// second hero section styles ends //


// blog section stlyes starts //
#blog-section {
    height: 671px;

    #blog-img {
        width: 585px;
        height: 405px;
        background-color: grey;
    }

    #blog-content-wrapper {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        text-align: left;
    
        #blog-content-subtitle {
            line-height: 3.2;
            color: $warm-grey;
        }
        #blog-content {
          line-height: 1.67;
          color: $brownish-grey;
        }
        a {
            text-decoration: none;
            width: 85px;
            height: 10px;
            line-height: 3.2;
            letter-spacing: 1.5px;
            color: #a88d7b;
            text-transform: uppercase;
        }
    }
}


// blog section stlyes ends //

// footer section styles starts //
.insta-img-size {
    width: 80px;
    height: 80px;
    background-color: $white-five;
}
// footer section styles ends //

// creator section styles starts //


#logo-second-size {
    height: 3em;
    padding: 1.5em 0;
}

#creator-section {

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        color: $brownish-grey;
        padding: 35.5px 0;
        background-color: $white-two;
    }
}
// creator section styles ends //



//---------------------------------------------- alternative ----------------------------------//

// shop section
.nav-grid-alt {
    height: 93px;
}

// header section styles //

.alt-hero {
    height: 445px;
    background-color: #666666;
    
    .alt-main-heading {
        padding-top: 3em;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 50px;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
        color: $white-five;
        text-transform: uppercase;
    }
    .alt-sub-heading {
        padding-top: 1em;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
        
        a {
            text-decoration: none;
        }
        .alt-sub-first-link {
            color: $white-five;
        }
        .alt-sub-link-divider {
            color: $greyish;
        }
        .alt-sub-second-link {
            color: $pinkish-grey;
        }
    }
}

// header section styles //

//---------------------------------------------- alternative ----------------------------------//

//---------------------------------------------- about page STARTS ----------------------------------//

// global about styles //
.sub-styles {
    padding: 0;
}
// global about styles //

// hero bg img //
#about-hero-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/living-area.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// hero bg img //

// who we are section styles starts //
#who-we-are-section {
    height: 548px;
    background-color: $white-five;
    
    
    #who-we-are-content {
        width: 524px;
        @include paragraph-content;
    }
    #who-we-are-img {
        @include about-page-imgs;
    }
}
// who we are section styles ends //


// team section styles starts //

    #team-section {
        padding-top: 3em;
        height: 721px;
        background-color: $white-five;
    }
    #team-grid {
        max-width: 1180px;

        p {
            @include sub-text-style;
            padding: 1em 0;
        }
        .team-imgs {
            width: 270px;
            height: 305px;
            background-color: $brownish-grey;
        }
    }
// team section styles ends //

// what we do section styles starts //
#what-we-do-section {
    height: 590px;
    padding-bottom: 5em;
    
    #what-we-do-content {
        width: 524px;
        @include paragraph-content;
    }
    #what-we-do-img {
        @include about-page-imgs;
    }
}
// what we do section styles ends //
//---------------------------------------------- ABOUT PAGE ENDS ----------------------------------//


//---------------------------------------------- BLOG PAGE STARTS ----------------------------------//
// blog global styles //
#long-underline {
    width: 1170px;
    height: 1px;
    background-color: #ebebeb;
}
// blog global styles //

// hero bg img //
#blog-hero-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/modern-office-furniture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// hero bg img //

// blog product images styles //
.blog-product-container {
    width: 370px;
    
    .blog-product-imgs {
        width: 370px;
        height: 225px;
        background-color: $brownish-grey;
    }
    .blog-title-styles {
        padding-top: 1em;
        text-align: left;
        width: unset;
        height: unset;
    }
    .sub-dates {
        text-align: left !important;
        @include sub-text-style;
    }
    .small-underline {
        width: 370px;
        height: 1px;
        background-color: #ebebeb;
    }
    .blog-product-description {
        text-align: left;
        padding-top: 1em;
        padding-bottom: 2em;
        @include paragraph-content;
    }
    a {
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.67;
        text-align: left;
        color: #706259
    }
}

// blog products images styles //
//---------------------------------------------- BLOG PAGE ENDS ----------------------------------//



//---------------------------------------------- BLOG PAGE ENDS ----------------------------------//
// contact detain detail section //
.contact-container {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}
//---------------------------------------------- BLOG PAGE ENDS ----------------------------------//

//---------------------------------------------- CONTACT PAGE STARTS ----------------------------------//
// hero bg img //
#contact-hero-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/bedroom-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// hero bg img //
//---------------------------------------------- CONTACT PAGE ENDS ----------------------------------//


//---------------------------------------------- SHOP PAGE STARTS ----------------------------------//
// hero bg img //
#shop-hero-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("../images/shelf-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// hero bg img //

.caption-section {
    padding: 40px;
    background-color: $white-five;

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        line-height: 2.4;
        text-align: right;
        color: #666666;
    }
}
.products {
    background-color: $offset-white;
    height: 1610px;
}
//---------------------------------------------- SHOP PAGE ENDS ----------------------------------//
