// colors //
$offset-white:#f5f5f5;
$black-three:#333333;
$warm-grey:#999999;
$white-four:#e5e5e5;
$white-five:#ffffff;
$brownish-grey:#666666;
$black:#2d2827;
$white-two: #d7d7d7;
$white-five:#ffffff;
